* {
    font-family: serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

#navbar {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    /* text-decoration: none; */
}

#navItems{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 35px;
    padding-left: 30px;

}

ul{
    
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    font-weight: 900;
    font-size: 25px;
    padding-left: 20px;
    
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}